body{
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;
}
.stdio{
    color: rgb(38, 255, 56);
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 80%;
}
.link{
    text-decoration: none;
    background-color: yellowgreen;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    
}
h1{
    text-align: center;
}
.atom{
    width: 30%;
    padding-left: 10%;
    padding-right: 10%;

}
.atom{
   box-shadow: 10px 10px 15px blueviolet;
   margin-left: 5px;
   margin-right: 5px;
   padding-left: 15;
}
.boom{
    width: 50%;
    padding-bottom: 20;
    padding-left: 10%;
}
.boom img{
    width: 100%;
}
.tom{
    width: 50%;
    padding-left: 10%;
}
.tom img{
    width: 100%;
}
.rafi{
    font-size: 20px;
    background-color: blue;
}
h3{
    text-align: center;
}
h3{
    text-align: center;
    background-color: rgb(124, 79, 79)
    
}
.class{
    text-align: center;
}
.student{
    width: 50%;
    padding-left: 10%;
}
.student img{
    width: 80%;
}